* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #282c34;
}
.grid {
  display: grid;
}
.App {
  display: flex;
  align-items: center;
  color: white;
  position: relative;
  height: 100vh;
}
.left-container {
  width: 30vw;
  position: fixed;
  margin-left: 0.5rem;
}
.search-container {
  display: grid;
}
.form-container {
  display: grid;
}

.right-container {
  display: grid;
  position: absolute;
  left: 30vw;
  top: 0;
  width: calc(100% - 30vw - 2rem);
  margin: 1rem;
}
.bookings-container {
  border-top: 2px solid #fff;
  display: flex;
  justify-content: space-between;
  padding: 0.4rem;
  text-transform: capitalize;
}
.bookings-container:hover {
  background-color: #0c0c0c;
}
.bookings-box {
  /* width: 5rem; */
  display: flex;
  gap: 1rem;
}
.booking-email {
  text-transform: lowercase;
}
input {
  background: transparent;
  color: #fff;
  border: 1px solid #fff;
  height: 2rem;
  padding-left: 0.3rem;
}
::placeholder {
  color: #aaa;
}
.red-btn {
  background-color: #990000;
}
.green-btn {
  background-color: #009900;
}
.btn {
  border: transparent;
  color: #fff;
  font-size: xx-large;
  cursor: pointer;
  border-radius: 0.2rem;
  margin-left: 0.3rem;
  padding: 0.3rem;
}
.update-input {
  height: 1rem;
  width: 15rem;
  border: transparent;
  border-bottom: 1px solid #fff;
}

.error-msg {
  font-size: 0.8rem;
}
/* loading animation */
.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
